<h2 mat-dialog-title>{{ data.isEdit ? 'Editar Evento' : 'Nuevo Evento' }}</h2>
<mat-dialog-content class="mat-typography">
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Título del Evento</mat-label>
      <input matInput [(ngModel)]="title" placeholder="Introduce un título">
    </mat-form-field>

    <div>
      <label>Color del Evento:</label>
      <div *ngFor="let color of listColorsCard">
        <input type="radio" [value]="color" name="color" (change)="handleSelectCardColor(color)">
        <span [style.background-color]="color.backgroundColor"
              [style.color]="color.textColor">Ejemplo</span>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog()">Cancelar</button>
  <button mat-button *ngIf="data.isEdit" (click)="handleDeleteEvent()">Eliminar</button>
  <button mat-button (click)="handleAddedEvent()">{{ data.isEdit ? 'Actualizar' : 'Agregar' }}</button>
</mat-dialog-actions>













  