<div *ngIf="open" class="modal-container">
    <div class="modal-content">
      <form>
        <div class="form-group">
          <label for="title">Adicionar título</label>
          <input type="text" class="form-control" id="title" [(ngModel)]="title" placeholder="Ingrese un título">
        </div>
  
        <div class="color-selection">
          <label>Seleccione un color:</label>
          <div *ngFor="let color of listColorsCard; let i = index">
            <input type="radio" [id]="'color-' + i" name="cardColor" [(ngModel)]="cardColor.backgroundColor" [value]="color.backgroundColor">
            <label [for]="'color-' + i" [ngStyle]="{'background-color': color.backgroundColor}"></label>
          </div>
        </div>
  
        <button type="button" class="btn btn-primary" (click)="isEditCard ? handleUpdatedEvent() : handleAddedEvent()">
          {{ isEditCard ? 'Actualizar evento' : 'Adicionar evento' }}
        </button>
  
        <div *ngIf="isEditCard">
          <button type="button" class="btn btn-danger" (click)="handleDeleteEvent()">Excluir evento</button>
        </div>
      </form>
    </div>
  </div>
















  